@import '../../../styles.scss';

.contract-viewer-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 680px;
}

.hotel-list {
    display: flex;
    flex-direction: column;
    resize: both;
    margin: auto;
    margin-top: 100px;
    background: white;
    padding: 42px;
    width: 1000px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}



.title {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $primary;
    margin: auto;
}

.hotel-menu {

    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;

    .hotel {

        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        color: $dark-blue;
        margin-bottom: 5px;

        &:hover {
            background: $light;
        }

        &.selected {
            background-color: $light-blue;
            color: $dark-blue;
        }

    }
}

.add-hotel {
    background-color: $blue;
    color: $light;
}

.contract {
    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;

    cursor: pointer;
}
.topnav {
  background-color: #f8f8f8;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
table, td {
  width: 700px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background: aliceblue;
  border: 1px solid black;
  max-height: 680px;

}
th, td {
  padding: 15px;
}
th{
  width: 700px;
  color: #f8f8f8;
  background: #3f2b96;
  position: sticky;
  top: 0;
  max-height: 680px;
}
